<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content">
<div class="container mt-lg-5">
    <div class="card ">
       <div class="card-header" style="background-color: #621f44; color:white;">
           <div th:if="${mode}=='new'">Ajouter un patient</div>
           <div th:if="${mode}=='edit'">Modifier le patient</div>
       </div>
        <div class="card-body ">
            <div class="container">
                <form th:action="@{savePatient}" method="post">

                    <div class="form-group mt-lg-4">
                        <label class="control-label">Id :</label>
                        <input type="text" th:value="${patient.id}" name="id" class="form-control" style="pointer-events:none;">
                        <span th:errors="${patient.id}"></span>
                    </div>

                    <div class="form-group mt-lg-2">
                        <label class="control-label">Nom :</label>
                        <input type="text" name="nom" th:value="${patient.nom}" class="form-control">
                        <span th:errors="${patient.nom}"></span>
                    </div>
                    <div class="form-group mt-lg-4">
                        <label class="control-label">Date Naissance :</label>
                        <input type="date" name="DateNaissance" th:value="${patient.dateNaissance}" class="form-control">
                        <span th:errors="${patient.dateNaissance}"></span>
                    </div>
                    <div class="form-group mt-lg-4">
                        <label class="control-label">Malade :</label>
                        <input type="checkbox" th:checked="${patient.malade}" name="malade" >
                        <span th:errors="${patient.malade}"></span>
                    </div>

                    <div class="form-group mt-lg-4">
                        <label class="control-label">Score :</label>
                        <input type="number" th:value="${patient.score}" name="score" class="form-control">
                        <span th:errors="${patient.score}"></span>
                    </div>

                    <button type="submit"  class="btn btn-success mt-lg-4">Save</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

</body>
</html>